# Hardhat Network Configuration
ALCHEMY_SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/sVZ0izt9DlVYx_Vb_5Jeb
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/sVZ0izt9DlVYx_Vb_5Jeb

# Deployer Account (must start with 0x and be 66 characters total)
DEPLOYER_PRIVATE_KEY=0x3a7197c321a56365939542f1d9f3545f2b93a6633530bfeb262b2c8c4e98a1f1
PRIVATE_KEY=0x3a7197c321a56365939542f1d9f3545f2b93a6633530bfeb262b2c8c4e98a1f1

#recovery
RECOVERY_TEXT = "romance service start inner promote share then check rubber giggle aware rally"

# Etherscan Verification
ETHERSCAN_API_KEY=C1K9PB6CIQQIE83AMFSQRXVH6P1K5A1HKS

# Network Selection
NETWORK=sepolia
